Services/XMLValidation/Schemas/TEndereco.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="TEndereco">
		<xsd:sequence>
			<xsd:element name="logradouro" type="xsd:string"/>
			<xsd:element name="complemento" type="xsd:string"/>
			<xsd:element name="bairro" type="xsd:string"/>
			<xsd:element name="CEP">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value = "9"/>
						<xsd:minLength value = "9"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
